*.swp
*.o
*.h
*.hi
*.key

dist/

src/Bindings/Spotify/Album.hs
src/Bindings/Spotify/AlbumBrowse.hs
src/Bindings/Spotify/Artist.hs
src/Bindings/Spotify/ArtistBrowse.hs
src/Bindings/Spotify/Error.hs
src/Bindings/Spotify/Image.hs
src/Bindings/Spotify/Inbox.hs
src/Bindings/Spotify/Link.hs
src/Bindings/Spotify/Misc.hs
src/Bindings/Spotify/Playlist.hs
src/Bindings/Spotify/Search.hs
src/Bindings/Spotify/Session.hs
src/Bindings/Spotify/Toplist.hs
src/Bindings/Spotify/Track.hs
src/Bindings/Spotify/User.hs

example/tracefile
example/login
example/high-login

server/Client
server/Server
server/tracefile
